.body{
    width:80vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
     box-shadow: inset 3304px 0px black;
     transition: .15s all;
}
.content{

    display: flex;
    padding:40px;
    flex-direction: column;
    width:30vw;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px; */
    border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.first,.second,.third{
    padding:2px;
}