<div class="body">
    <div class="content">
        <span class="display-6" style="font-weight:bold;text-align:center">Thank you !</span> 
           <p class="first">for coming to register for our competition
            which will be held on 15th Feb,2023.
        </p>
        <p class="second">we are wholeheartedly welcome to our competiton</p>
        <p class="third">Kindly click the button below to register.</p>
        <button class="btn btn-outline-dark" (click)="register()">Register</button>
        <!-- <a routerLink="/home/register">click</a> -->
    </div>
</div>
