.body{
    width:80vw;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lo{
    text-align: center;
    padding-bottom:20px;
    font-size: 20px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:300px;
    padding:40px;
 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    
}
